body {
  background-color: #ffffff;
  color: #757575;
}

ul {
  list-style: none;
}

.logo {
  color: #212121;
}

.site-nav .link {
  color: #212121;
}
.site-nav .link:hover {
  color: #2196f3;
}

/* 1) - выбрать палитру цвета
Цвет основного текста - #757575 (серый)
Цвет вспомогательного цвета - #212121 (чёрный)
Цвет ссылок  и кнопки - #2196F3 (синий)
Надписи белым - #FFFFFF (белый)
Футер мыло и тел - color: rgba(255, 255, 255, 0.6);
backround colors:
header -  #FFFFFF
1 section - #2F303A
2 section - #F5F5F5
3 section - #F5F4FA
footer - #2F303A


*/

/* Убирает точки в списках*/

/* Написать комментарий - cmnd+/ */
